.App {
  text-align: center;
}
header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
section {
  height: 70vh;
  line-height: 70vh;
}
.footer {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}